<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}"> 
    <title>Books | Home</title>
</head>
<body>
    <div id="wrapper">
        <div class="header">
            <h2>Welcome, {{user.first_name}}!</h2>
            <div class="right-links">
                <a href='/books/add'>Add Book and Review</a>
                <a href='/logout'>Logout</a>
            </div>
        </div>
        <div class="column left">
            <h3>Recent Book Reviews:</h3>
            <div class="reviews">
                {% for review in reviews %}
                <h3><a href="/books/{{review.book.id}}">{{review.book.title}}</a></h3>
                <div class="review">
                    <p>Rating: {{review.rating}}/5</p>
                    <p>
                        <a href="/users/{{review.reviewer.id}}">{{review.reviewer.first_name}}</a>
                        says: {{review.content}}
                    </p>
                    <p class="time">
                        Posted on {{review.created_at}}
                    </p>
                    {% if request.session.user_id == review.reviewer.id %}
                    <a href="/books/{{review.id}}/delete">Delete this Review</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="column right">
            <h3>Other Books with Reviews:</h3>
            <div class="books">
                {% for book in books %}
                <p><a href="/books/{{book.id}}">{{book.title}}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>